.div1 {
  background-color: darkgrey;
  font-family: "Times New Roman", Times, serif;
  resize: both;
  overflow: auto;
  border: 2px solid;
  margin-bottom: 1rem
  }
.div2 {
  background-color: darkgrey;
  font-family: "Times New Roman", Times, serif;
  resize: both;
  overflow: auto;
  border: 2px solid;
  margin-bottom: 1rem
  }
.div3 {
  background-color: darkgrey;
  font-family: "Times New Roman", Times, serif;
  resize: both;
  overflow: auto;
  border: 2px solid;
  margin-bottom: 1rem
  }

    
  